<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsultasLINQ.Properties.Settings.EscuelaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Escuela.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsultasLINQ.Properties.Settings.EscuelaConnectionString1"
            connectionString="Data Source=ESTRADA\SQLEXPRESS;Initial Catalog=Escuela;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>